/*526 lines */
/* Start main Rules */

body {
    background-color:#fff;
}

.container { width: 1170px; margin:auto }

.clearfix {
    clear: both;
}
    
/* End of main Rules */

/* Start Header */

.header .slider {
    height: 600px;
    background: url('../images/slider.jpg');
    background-size:cover ;

}

.header .slider .intro  {
    text-align: center;
    color: #fff;
    padding-top: 200px;
}

.header .slider .intro h2 {
    margin: 0 auto;
    font-size: 50px;
    width: 600px;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
    padding: 5px 0;
}

.header .slider .intro button {
    background: none;
    margin-top: 20px;
    color: #fff;
    font-size: 20px;
    border: 2px solid #fff;
    padding: 10px 20px;
    font-weight: bold;
}
.header .navbar {
    background-color: #252f31;
    color: #fff;
    overflow: hidden;
}

.header .navbar h2 span {
    color: #2ecc71;
}

.header .navbar ul {
    list-style: none;
    padding-left: 0;
    overflow: hidden;   
    float: right;
}

.header .navbar ul li {
    float: left;
    padding: 10px;
}

.header .navbar ul li a {
    color: #fff;
    text-decoration: none;
}

.header .navbar ul li a:hover ,
.header .navbar ul li.active a {
    color: #30b576;
}

/* End of header */

/*features*/

.features {
    overflow: hidden;
    padding: 40px 0 50px ;
}

.features .feat {
    width: 33.33333%;
    height:150px;
}

.features .feat h2 {
    color: #555;
}

.features .feat p {
    line-height: 1.7;
    color: #888;
}
/* end of features */

/* Start of about me */

.about-me {
    background-color: #F2f2f2;
    overflow: hidden;
}

.about-me .image {
    width: 40%;
}

.about-me .image img {
    width: 100%;
}
.about-me .info {
    width: 60%;
}

.about-me .info h2 {
    margin: 25px 0 20px 40px;
    color: #555;
}

.about-me .info > p {
    margin: 0 0 10px 40px;
}

.about-me .info > p:last-of-type {
        margin-top: 25px;
}

.about-me .info  p {
    line-height: 1.6;
    color: #666;
}


.about-me .info .hobbies {
    overflow: hidden;
    margin: 15px 0 0 40px;
}



.about-me .info .hobbies .content {
    width: 50%;
    min-height: 100px;
    overflow: hidden;
}

.about-me .info .hobbies .content h3 {
    color: #555;
}

.about-me .info .hobbies .content .icon {
    width: 12%;
    margin-right: 5%
}

.about-me .info .hobbies .content .icon img {
    max-width: 100%;
    margin:40px 10px 0 0;
}
.about-me .info .hobbies .content .text {
    width: 83%;
}

.about-me .info .hobbies .content .text p {
    margin-top: 0;
}

.about-me .info .hobbies .content .text h3 {
    margin-bottom: 5px;
}
/* End of about me */

/* Start my skills */
.my-skills {
    padding:30px 0 50px;
    overflow: hidden;
}

.my-skills .skills h2 {
    margin: 25px 0 20px 40px;
    color: #555;
}

.my-skills .skills > p {
    margin: 0 0 10px 40px;
}

.my-skills .skills > p:last-of-type {
        margin-top: 25px;
}

.my-skills .skills  p {
    line-height: 1.6;
    color: #666;
}

.my-skills .skills button {
    margin-left: 40px;
    margin-top: 20px;
}

.my-skills .skills , .my-skills .progress {
    width: 50%;
}

.my-skills .progress .technique{
    margin-left: 50px;
}

.my-skills .progress .technique h3 {
    color: #555;
}

.my-skills .progress .technique div {
    background-color: #f2f2f2;
    height: 25px;
}

.my-skills .progress .technique div span {
    background-color: #2dcc70;
    height: 25px;
    display: block;
    line-height: 25px;
    text-align: right;
    color: #fff;
}
/* End my skills */

/*Start resume */

.resume {
    background-color: #f2f2f2;
    padding: 50px 0 70px;;
    text-align: center;
}

.resume h2 {
    font-weight: bold;
    color: #666;
}
.resume p {
    line-height: 1.7;
    color: #666;
    padding: 40px;
}

.resume button {
    margin-top: 25px;
}

/*End Resume */

/* start of education */
.my-education {
    padding:30px 0;
    overflow: hidden;
}

.my-education .main{
    width: 50%;
    margin-right: 5%;
}

.my-education .main h2 {
    margin: 25px 0 20px 40px;
    color: #555;
}

.my-education .main p {
    margin: 0 0 10px 40px;
}

.my-education .main > p:last-of-type {
        margin-top: 25px;
}

.my-education .main  p {
    line-height: 1.6;
    color: #666;
}

.my-education .exp{
    width: 45%;
}

.my-education .exp h3 {
    margin-top: 80px;
    margin-bottom: 10px;
}

.my-education .exp span {
    display: block;
    margin-bottom: 10px;
}

.my-education .exp span:first-of-type {
    color: #999;
}

.my-education .exp span:last-of-type {
    background-color: #2dcc70;
    color: #fff;
    display: inline-block;
    padding: 4px 10px;
    
}

.my-education .exp hr {
    margin: 20px 0 ;
    background-color: #999;
    height: 1px;
    border: 0;
}

.my-education .exp p {
    line-height: 1.7;
    color: #777;
}
/*End of education*/

/*Start Testonomial */

.testonomials {
    background-color: #f2f2f2;
    padding: 50px 0 50px;
    text-align: center;
}

.testonomials q {

    font: italic bold 18px/1.8  Arial;
}

.testonomials h3 {
    color: #666;
    margin-bottom: 30px;
}

.testonomials ul {
    list-style: none;
    padding-left: 0;
    text-align: center;
}

.testonomials ul li {
    width: 15px;
    height: 15px;
    display: inline-block;
    border: 2px solid #2dcc70;
    cursor: pointer;
}

.testonomials ul li.active {
    background: #2dcc70;
}

.testonomials ul li:hover {
    background:#2dcc70;
}
/*End Testonomial */

/* Start Portofolio */

.portofolio {
    padding: 50px 0 70px ;
}

.portofolio h2 {
    color: #777;
}

.portofolio p {
    line-height: 1.7;
    color: #666;
    margin-bottom: 30px;
}
.portofolio .our-work {
    overflow: hidden;
}

.portofolio .our-work > div {
    float: left;
    width: 33.333333%;
    margin-bottom: 10px;
    
}

.portofolio .our-work > div img {
    width: 92%;
    margin: 10px;
    padding: 3px;
    background-color: #fff; 
    border: 1px solid #ccc;
    box-shadow: 10px 10px 5px #ccc;
}
/* End Portfolio*/

/* Start Contact ME */

.contact {
    background-color: #252f31;
    overflow: hidden;
    padding-top: 50px;
    padding-bottom: 70px;    
}

.contact .info {
    width: 50%;
    margin-right: 5%;
}

.contact h2 {
    color: #fff;
    margin-left: 40px;
}

.contact p {
    color: #6a6e71;
    margin-left: 40px;
    line-height: 1.7;
}

.contact p strong {
    color: #d1d6da;
}

.contact .form {
    width: 45%;
}
.contact .form label {
    display: block;
    color: #d1d6da;
    margin-bottom: 10px;
    margin-top: 10px;
}

.contact .form input[type="text"] {
    background-color:#4b5557;
    color: #fff;
    padding: 10px;
    border: 0;
    width: 80%;
    margin-bottom: 10px;
}

.contact .form textarea {
    background-color:#4b5557;
    color: #fff;
    padding: 10px;
    border: 0;
    width: 80%;
    height: 300px;
    margin-bottom: 10px;
}

.contact .form input[type="submit"] {
    background-color: #191e22;
    color: #fff;
    padding: 10px 20px;
    border: 0;
    margin-top: 10px;
}
/*End contact me */

/* start footer */

.footer {
    background-color: #191e22;
    color: #6a6e71;
    padding: 20px 0;
    text-align: center;
}

.footer ul {
    list-style: none;
    padding-left: 0;
    margin: 10px 0 0 ;
}

.footer ul li {
    display: inline-block;
}

.footer ul li img {
    width: 24px;
}

/*end footer*/

/* Start My Framework */
.my-button {
    background: none;
    color: #2dcc70;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 30px;
    border:3px solid #2dcc70;
    margin-left: 40px;
    margin-top: 20px;
}

.fl-left {float:left;}

/* End My Framework *